# 5년 간 지역별 개업 수, 폐업 수 추출

In [1]:
import pandas as pd

In [2]:
food_pub = pd.read_csv('./food_pub.csv', encoding='cp949')

C:\Users\cch\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
food_pub

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,단란주점영업,07_23_01_P,4060000,4060000-103-2020-00002,20201123,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,Y,132.00,NaN,NaN,NaN,NaN
1,2,단란주점영업,07_23_01_P,4800000,4800000-103-2020-00007,20201130,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,114.41,NaN,NaN,NaN,NaN
2,3,단란주점영업,07_23_01_P,3940000,3950000-103-1994-00016,19940531,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,81.80,NaN,NaN,NaN,NaN
3,4,단란주점영업,07_23_01_P,3940000,3950000-103-1994-00015,19940428,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,0.00,NaN,NaN,NaN,NaN
4,5,단란주점영업,07_23_01_P,3940000,3950000-103-1994-00014,19940402,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,126.38,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40619,40620,단란주점영업,07_23_01_P,3630000,3630000-103-2007-00014,20070810,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,37.00,NaN,NaN,NaN,NaN
40620,40621,단란주점영업,07_23_01_P,3630000,3630000-103-2007-00011,20070608,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,40.90,NaN,NaN,NaN,NaN
40621,40622,단란주점영업,07_23_01_P,3630000,3630000-103-2005-00005,20050812,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.07,NaN,NaN,NaN,NaN
40622,40623,단란주점영업,07_23_01_P,3630000,3630000-103-2005-00002,20050203,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.02,NaN,NaN,NaN,NaN
40623,40624,단란주점영업,07_23_01_P,3630000,3630000-103-2016-00001,20160219,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,134.84,NaN,NaN,NaN,NaN

In [4]:
food_pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40624 entries, 0 to 40623
Data columns (total 48 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           40624 non-null  int64
 1   개방서비스명       40624 non-null  object
 2   개방서비스id      40624 non-null  object
 3   개방자치단체코드     40624 non-null  int64
 4   관리번호         40624 non-null  object
 5   인허가일자        40624 non-null  int64
 6   인허가취소일자      0 non-null      float64
 7   영업상태구분코드     40624 non-null  int64
 8   영업상태명        40624 non-null  object
 9   상세영업상태코드     40624 non-null  int64
 10  상세영업상태명      40624 non-null  object
 11  폐업일자         27946 non-null  float64
 12  휴업시작일자       0 non-null      float64
 13  휴업종료일자       0 non-null      float64
 14  재개업일자        0 non-null      float64
 15  소재지전화        33571 non-null  object
 16  소재지면적        36522 non-null  object
 17  소재지우편번호      39287 non-null  float64
 18  소재지전체주소      40579 non-null  object
 19  도로명전체주소      17886 non-null  object
 20  도로명우편번호      17182 non-null  float64
 21  사업장명         40624 non-null  object
 22  최종수정시점       40624 non-null  int64
 23  데이터갱신구분      40624 non-null  object
 24  데이터갱신일자      40624 non-null  object
 25  업태구분명        40622 non-null  object
 26  좌표정보(x)      38812 non-null  float64
 27  좌표정보(y)      38812 non-null  float64
 28  위생업태명        40155 non-null  object
 29  남성종사자수       27608 non-null  float64
 30  여성종사자수       27614 non-null  float64
 31  영업장주변구분명     26079 non-null  object
 32  등급구분명        16289 non-null  object
 33  급수시설구분명      24460 non-null  object
 34  총종업원수        0 non-null      float64
 35  본사종업원수       1392 non-null   float64
 36  공장사무직종업원수    1392 non-null   float64
 37  공장판매직종업원수    1392 non-null   float64
 38  공장생산직종업원수    1392 non-null   float64
 39  건물소유구분명      0 non-null      float64
 40  보증액          1392 non-null   float64
 41  월세액          1392 non-null   float64
 42  다중이용업소여부     40157 non-null  object
 43  시설총규모        40157 non-null  float64
 44  전통업소지정번호     167 non-null    float64
 45  전통업소주된음식     2 non-null      object
 46  홈페이지         0 non-null      float64
 47  Unnamed: 47  0 non-null      float64
dtypes: float64(23), int64(6), object(19)
memory usage: 14.9+ MB

In [5]:
food_pub['소재지전체주소']

0           경기도 파주시 야당동 1083 유은타워7차 523호
1            전라남도 목포시 상동 1139-9 삼아빌딩복합상가
2                경기도 고양시 덕양구 주교동 602-5번지
3             경기도 고양시 덕양구 성사동 366-5번지 지층
4               경기도 고양시 덕양구 주교동 602-14번지
                      ...
40619          광주광역시 광산구 신창동 1222-5번지 4층
40620          광주광역시 광산구 신창동 1222-1번지 3층
40621    광주광역시 광산구 우산동 1586-20번지 (지상 2층)
40622              광주광역시 광산구 신가동 986-4번지
40623        광주광역시 광산구 쌍암동 666-1번지 2층 A동
Name: 소재지전체주소, Length: 40624, dtype: object

In [6]:
food_pub['도로명전체주소']

0             경기도 파주시 소리천로 25, 유은타워7차 523호 (야당동)
1           전라남도 목포시 평화로83번길 9, 삼아빌딩복합상가 2층 (상동)
2                                            NaN
3               경기도 고양시 덕양구 호국로790번길 27 (성사동,지층)
4                   경기도 고양시 덕양구 고양시청로 13-8 (주교동)
                          ...
40619           광주광역시 광산구 신창로72번길 10-21 (신창동,4층)
40620              광주광역시 광산구 신창로72번길 10 (신창동,3층)
40621     광주광역시 광산구 사암로216번길 28-11 (우산동,(지상 2층))
40622                    광주광역시 광산구 수등로 253 (신가동)
40623    광주광역시 광산구 첨단중앙로152번길 31-16, A동 2층 (쌍암동)
Name: 도로명전체주소, Length: 40624, dtype: object

In [7]:
food_pub['소재지전체주소'][0].split()

['경기도', '파주시', '야당동', '1083', '유은타워7차', '523호']

In [8]:
food_pub['소재지전체주소'].isnull().sum()

45

In [9]:
import numpy as np

In [10]:
food_pub['address'] = np.where(pd.notnull(food_pub['소재지전체주소']), food_pub['소재지전체주소'], food_pub['도로명전체주소'])

In [11]:
food_pub['address'] = food_pub['address'].astype(str)

In [12]:
food_pub['address'] = food_pub.address.str.split(' ').str[0]

In [13]:
food_pub['address']

0          경기도
1         전라남도
2          경기도
3          경기도
4          경기도
         ...
40619    광주광역시
40620    광주광역시
40621    광주광역시
40622    광주광역시
40623    광주광역시
Name: address, Length: 40624, dtype: object

## 코로나 기간 동안 지역별 개업 수

In [14]:
food_pub_opening = food_pub[food_pub['인허가일자'] >= 20191001]
food_pub_opening = food_pub_opening[food_pub_opening['상세영업상태명'] =='영업']

In [15]:
food_pub_closing = food_pub[food_pub['폐업일자'] >= 20191001]
food_pub_closing = food_pub_closing[food_pub_closing['상세영업상태명'] =='폐업']

In [16]:
food_pub_opening

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47,address
27946,27947,단란주점영업,07_23_01_P,3900000,3900000-103-2021-00001,20210121,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,83.60,NaN,NaN,NaN,NaN,경기도
27947,27948,단란주점영업,07_23_01_P,5380000,5380000-103-2021-00001,20210128,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,136.59,NaN,NaN,NaN,NaN,경상남도
27948,27949,단란주점영업,07_23_01_P,3830000,3850000-103-2021-00001,20210125,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,99.60,NaN,NaN,NaN,NaN,경기도
27949,27950,단란주점영업,07_23_01_P,4790000,4790000-103-2021-00001,20210121,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,142.62,NaN,NaN,NaN,NaN,전라북도
27950,27951,단란주점영업,07_23_01_P,6510000,6510000-103-2021-00001,20210118,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,109.52,NaN,NaN,NaN,NaN,제주특별자치도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36392,36393,단란주점영업,07_23_01_P,3740000,3770000-103-2020-00001,20200410,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,114.78,NaN,NaN,NaN,NaN,경기도
36393,36394,단란주점영업,07_23_01_P,3740000,3770000-103-2019-00002,20191126,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,65.95,NaN,NaN,NaN,NaN,경기도
36833,36834,단란주점영업,07_23_01_P,3740000,3750000-103-2020-00002,20200717,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,115.05,NaN,NaN,NaN,NaN,경기도
36834,36835,단란주점영업,07_23_01_P,3740000,3750000-103-2020-00001,20200226,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,145.70,NaN,NaN,NaN,NaN,경기도
36867,36868,단란주점영업,07_23_01_P,3740000,3760000-103-2020-00001,20200117,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,95.90,NaN,NaN,NaN,NaN,경기도

In [17]:
food_pub_opening_address = food_pub_opening.groupby('address')

In [18]:
food_pub_opening_address

In [19]:
food_pub_opening_address.groups

{'강원도': [27954, 27967, 29804, 29809, 29810, 29819, 31309, 31313, 31322, 31325, 31337, 31338, 33949, 33950, 33951, 34494, 34511], '경기도': [27946, 27948, 27963, 27964, 27968, 27970, 27971, 27974, 29816, 29817, 29821, 29823, 29825, 29826, 29829, 29831, 29832, 29835, 29840, 29843, 29844, 29845, 29847, 29848, 29849, 29855, 29857, 29866, 29867, 29869, 31293, 31302, 31315, 31316, 31323, 31331, 31333, 31335, 31336, 31346, 31348, 31350, 31352, 32976, 32977, 32981, 32982, 32991, 32996, 32997, 32998, 33003, 33004, 33009, 33902, 33906, 33908, 33910, 33911, 33912, 33919, 33923, 33937, 33941, 33942, 33945, 33946, 34458, 34471, 34472, 34473, 34481, 34491, 34495, 34497, 34498, 34502, 34509, 34513, 34515, 34517, 34518, 34521, 36333, 36357, 36368, 36369, 36370, 36371, 36392, 36393, 36833, 36834, 36867], '경상남도': [27947, 27975, 28352, 28353, 28354, 28355, 28356, 28379, 28380, 28464, 28465, 28597, 28598, 29815, 29824, 29827, 29873, 31301, 31305, 31308, 31345, 32986, 32987, 32988, 32989, 32993, 33001, 33905, 33922, 33947, 34455, 34463, 34467, 34468, 34479, 34496, 34501, 34505], '경상북도': [27965, 29834, 29836, 29839, 29853, 29872, 31290, 31295, 31299, 31300, 31304, 31329, 31343, 33916, 33924, 33926, 33938, 34126, 34464, 34474, 34483, 35717], '광주광역시': [27966, 27977, 29841, 29859, 31321, 31326, 31347, 32979, 32984, 33939, 34475, 34499], '대구광역시': [27952, 29805, 29812, 29813, 29818, 29833, 29863, 31285, 31286, 31342, 32978, 32985, 33010, 33904, 33948, 34454, 34489], '대전광역시': [27955, 34457, 34478, 34487], '부산광역시': [27958, 27959, 27972, 27973, 29830, 29850, 29851, 29860, 29865, 29871, 31284, 31287, 31292, 31296, 31307, 31319, 31320, 31351, 32992, 33901, 33920, 33929, 34465, 34476, 34482, 34503, 34506, 34508, 34510], '서울특별시': [27953, 29811, 29822, 29842, 31297, 31317, 31334, 31344, 32990, 32999, 33008, 33915, 33928, 33933, 34470], '울산광역시': [31288, 31328, 31349, 33589, 34512], '인천광역시': [27956, 27961, 27969, 29820, 29854, 29861, 29874, 31312, 31318, 31324, 31327, 31330, 32983, 32994, 33002, 33921, 33934, 34456, 34477], '전라남도': [27951, 29814, 29838, 29846, 29856, 29858, 29862, 31298, 31303, 31311, 31332, 33000, 33914, 33917, 33925, 33930, 33936, 34128, 34459, 34460, 34480, 34484, 34486, 34488, 34490, 34500, 34516, 34519], '전라북도': [27949, 27960, 27962, 29852, 29870, 31289, 31306, 31310, 31314, 33006, 33900, 33907, 33909, 33932, 34461, 34462, 34469, 34493], '제주특별자치도': [27950, 31340, 32980, 32995, 33944], '충청남도': [29828, 29837, 31294, 31339, 31341, 33931, 33935, 34485, 34492, 34504, 34520], '충청북도': [27957, 27976, 29806, 29807, 29808, 29868, 31353, 33005, 33007, 33903, 33913, 33918, 33927, 33940, 33943, 34466, 34507, 34514]}

### COVID19 기간(19.10. ~ 21.07. ) 동안 지역별 개업 수

In [20]:
food_pub_opening_address['상세영업상태명'].count()

address
강원도        17
경기도        94
경상남도       38
경상북도       22
광주광역시      12
대구광역시      17
대전광역시       4
부산광역시      29
서울특별시      15
울산광역시       5
인천광역시      19
전라남도       28
전라북도       18
제주특별자치도     5
충청남도       11
충청북도       18
Name: 상세영업상태명, dtype: int64

In [21]:
food_pub_opening_address.count()

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
address,,,,,,,,,,,,,,,,,,,,,
강원도,17,17,17,17,17,17,0,17,17,17,...,0,0,0,0,17,17,0,0,0,0
경기도,94,94,94,94,94,94,0,94,94,94,...,0,0,0,0,94,94,0,0,0,0
경상남도,38,38,38,38,38,38,0,38,38,38,...,0,0,0,0,38,38,0,0,0,0
경상북도,22,22,22,22,22,22,0,22,22,22,...,0,0,0,0,22,22,0,0,0,0
광주광역시,12,12,12,12,12,12,0,12,12,12,...,0,0,0,0,12,12,0,0,0,0
대구광역시,17,17,17,17,17,17,0,17,17,17,...,0,0,0,0,17,17,0,0,0,0
대전광역시,4,4,4,4,4,4,0,4,4,4,...,0,0,0,0,4,4,0,0,0,0
부산광역시,29,29,29,29,29,29,0,29,29,29,...,0,0,0,0,29,29,0,0,0,0
서울특별시,15,15,15,15,15,15,0,15,15,15,...,0,0,0,0,15,15,0,0,0,0
울산광역시,5,5,5,5,5,5,0,5,5,5,...,0,0,0,0,5,5,0,0,0,0
인천광역시,19,19,19,19,19,19,0,19,19,19,...,0,0,0,0,19,19,0,0,0,0
전라남도,28,28,28,28,28,28,0,28,28,28,...,0,0,0,0,28,28,0,0,0,0
전라북도,18,18,18,18,18,18,0,18,18,18,...,0,0,0,0,18,18,0,0,0,0
제주특별자치도,5,5,5,5,5,5,0,5,5,5,...,0,0,0,0,5,5,0,0,0,0
충청남도,11,11,11,11,11,11,0,11,11,11,...,0,0,0,0,11,11,0,0,0,0
충청북도,18,18,18,18,18,18,0,18,18,18,...,0,0,0,0,18,18,0,0,0,0

---

## 지역별 폐업 가게 수

In [22]:
food_pub_closing

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47,address
0,1,단란주점영업,07_23_01_P,4060000,4060000-103-2020-00002,20201123,NaN,3,폐업,2,...,NaN,NaN,NaN,Y,132.00,NaN,NaN,NaN,NaN,경기도
1,2,단란주점영업,07_23_01_P,4800000,4800000-103-2020-00007,20201130,NaN,3,폐업,2,...,NaN,NaN,NaN,N,114.41,NaN,NaN,NaN,NaN,전라남도
34,35,단란주점영업,07_23_01_P,3940000,3950000-103-1993-00020,19931220,NaN,3,폐업,2,...,NaN,NaN,NaN,N,112.79,NaN,NaN,NaN,NaN,경기도
42,43,단란주점영업,07_23_01_P,3940000,4100100-103-1997-00009,19970124,NaN,3,폐업,2,...,NaN,NaN,NaN,Y,98.60,NaN,NaN,NaN,NaN,경기도
96,97,단란주점영업,07_23_01_P,5350000,5350000-103-2018-00002,20181112,NaN,3,폐업,2,...,NaN,NaN,NaN,Y,97.64,NaN,NaN,NaN,NaN,경상남도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27837,27838,단란주점영업,07_23_01_P,3250000,3250000-103-2015-00002,20150520,NaN,3,폐업,2,...,NaN,NaN,NaN,N,79.11,NaN,NaN,NaN,NaN,부산광역시
27915,27916,단란주점영업,07_23_01_P,3590000,3590000-103-1999-00007,19991231,NaN,3,폐업,2,...,NaN,NaN,NaN,N,104.33,NaN,NaN,NaN,NaN,광주광역시
27931,27932,단란주점영업,07_23_01_P,3630000,3630000-103-2008-00010,20080918,NaN,3,폐업,2,...,NaN,NaN,NaN,N,63.40,NaN,NaN,NaN,NaN,광주광역시
27936,27937,단란주점영업,07_23_01_P,3630000,3630000-103-1994-00001,19941010,NaN,3,폐업,2,...,NaN,NaN,NaN,N,85.28,NaN,NaN,NaN,NaN,광주광역시
27945,27946,단란주점영업,07_23_01_P,3630000,3630000-103-2015-00012,20151118,NaN,3,폐업,2,...,NaN,NaN,NaN,N,121.60,NaN,NaN,NaN,NaN,광주광역시

In [23]:
food_pub_closing_address = food_pub_closing.groupby('address')

### COVID19 기간(19.10. ~ 21.07. ) 동안 지역별 폐업 수

In [24]:
food_pub_closing_address['상세영업상태명'].count()

address
강원도         49
경기도        155
경상남도        74
경상북도        86
광주광역시       57
대구광역시       39
대전광역시       25
부산광역시      131
서울특별시      254
세종특별자치시      1
울산광역시       25
인천광역시       54
전라남도        39
전라북도        30
제주특별자치도     43
충청남도        36
충청북도        33
Name: 상세영업상태명, dtype: int64