# COVID-19 기간 내 지역별 개업 수 추출

In [30]:
import pandas as pd

In [77]:
normal_restaurants = pd.read_csv('../data/food_normal_restaurants.csv', encoding='cp949')

In [78]:
normal_restaurants

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3600000,3600000-101-2014-00100,20140508,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,99.00,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,20140319,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,20140321,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,20140612,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,20120119,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,85.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944175,1944176,일반음식점,07_24_04_P,3600000,3600000-101-2020-00346,20201209,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,95.89,NaN,NaN,NaN,NaN
1944176,1944177,일반음식점,07_24_04_P,3940000,3950000-101-2020-00467,20201209,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,82.64,NaN,NaN,NaN,NaN
1944177,1944178,일반음식점,07_24_04_P,3310000,3310000-101-2020-00220,20201209,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,14.22,NaN,NaN,NaN,NaN
1944178,1944179,일반음식점,07_24_04_P,4090000,4090000-101-2020-00785,20201209,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,34.40,NaN,NaN,NaN,NaN
1944179,1944180,일반음식점,07_24_04_P,4190000,4190000-101-2021-00036,20210122,NaN,3,폐업,2,...,NaN,NaN,NaN,NaN,N,10.98,NaN,NaN,NaN,NaN

In [79]:
normal_restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944180 entries, 0 to 1944179
Data columns (total 48 columns):
 #   Column       Dtype
---  ------       -----
 0   번호           int64
 1   개방서비스명       object
 2   개방서비스id      object
 3   개방자치단체코드     int64
 4   관리번호         object
 5   인허가일자        int64
 6   인허가취소일자      float64
 7   영업상태구분코드     int64
 8   영업상태명        object
 9   상세영업상태코드     int64
 10  상세영업상태명      object
 11  폐업일자         object
 12  휴업시작일자       float64
 13  휴업종료일자       float64
 14  재개업일자        float64
 15  소재지전화        object
 16  소재지면적        object
 17  소재지우편번호      float64
 18  소재지전체주소      object
 19  도로명전체주소      object
 20  도로명우편번호      float64
 21  사업장명         object
 22  최종수정시점       object
 23  데이터갱신구분      object
 24  데이터갱신일자      object
 25  업태구분명        object
 26  좌표정보(x)      float64
 27  좌표정보(y)      object
 28  위생업태명        object
 29  남성종사자수       float64
 30  여성종사자수       float64
 31  영업장주변구분명     object
 32  등급구분명        object
 33  급수시설구분명      object
 34  총종업원수        float64
 35  본사종업원수       float64
 36  공장사무직종업원수    float64
 37  공장판매직종업원수    float64
 38  공장생산직종업원수    float64
 39  건물소유구분명      object
 40  보증액          float64
 41  월세액          object
 42  다중이용업소여부     object
 43  시설총규모        float64
 44  전통업소지정번호     object
 45  전통업소주된음식     object
 46  홈페이지         float64
 47  Unnamed: 47  float64
dtypes: float64(18), int64(5), object(25)
memory usage: 712.0+ MB

In [80]:
normal_restaurants['소재지전체주소']

0                              광주광역시 서구 풍암동 682-1번지 (1층)
1                                광주광역시 서구 화정동 70-61 (1층)
2                              광주광역시 서구 화정동 332-9번지 (1층)
3                           광주광역시 남구 월산동 1048-182번지 (1층)
4                                  광주광역시 남구 양림동 374번지 2층
                               ...
1944175                          광주광역시 서구 쌍촌동 247-4 1~2층
1944176    경기도 고양시 덕양구 삼송동 293 삼송역현대헤리엇 101(판매시설)동 B102호
1944177                           부산광역시 남구 대연동 68-10 도네누
1944178                          경기도 김포시 풍무동 230-17 101호
1944179                                 강원도 원주시 중앙동 73-1
Name: 소재지전체주소, Length: 1944180, dtype: object

In [81]:
normal_restaurants['도로명전체주소']

0                               광주광역시 서구 송풍로17번길 5, 1층 (풍암동)
1                             광주광역시 서구 내방로350번길 10, 1층 (화정동)
2                           광주광역시 서구 월드컵4강로116번길 5, 1층 (화정동)
3                                광주광역시 남구 군분로 26-1, 1층 (월산동)
4                                  광주광역시 남구 제중로 39, 2층 (양림동)
                                 ...
1944175                    광주광역시 서구 내방로246번길 9-1, 1~2층 (쌍촌동)
1944176    경기도 고양시 덕양구 삼송로 222, 삼송역현대헤리엇 101(판매시설)동 B102호...
1944177               부산광역시 남구 수영로298번길 21, 도네누 2층 일부호 (대연동)
1944178                       경기도 김포시 풍무2로 57, 1층 101호 (풍무동)
1944179                               강원도 원주시 중앙시장길 36 (중앙동)
Name: 도로명전체주소, Length: 1944180, dtype: object

In [82]:
normal_restaurants['소재지전체주소'][0].split()

['광주광역시', '서구', '풍암동', '682-1번지', '(1층)']

In [83]:
normal_restaurants['소재지전체주소'].isnull().sum()

4166

In [84]:
import numpy as np

In [85]:
normal_restaurants['region'] = np.where(pd.notnull(normal_restaurants['소재지전체주소']), normal_restaurants['소재지전체주소'], normal_restaurants['도로명전체주소'])

In [86]:
normal_restaurants['region'] = normal_restaurants['region'].astype(str)

In [88]:
normal_restaurants['region'] = normal_restaurants.region.str.split(' ').str[0]

In [91]:
normal_restaurants['region']

0          광주광역시
1          광주광역시
2          광주광역시
3          광주광역시
4          광주광역시
           ...
1944175    광주광역시
1944176      경기도
1944177    부산광역시
1944178      경기도
1944179      강원도
Name: region, Length: 1944180, dtype: object

## 코로나 기간 동안 지역별 개업 수

In [94]:
normal_restaurants['인허가일자'].min(), normal_restaurants['인허가일자'].max()

(1992, 91870608)

In [95]:
normal_restaurants_5year = normal_restaurants[(normal_restaurants['인허가일자'] >= 20160101) & (normal_restaurants['인허가일자'] <= 20210630)]

In [115]:
normal_restaurants_5year_opening = normal_restaurants_5year[normal_restaurants_5year['상세영업상태명'] =='영업']

In [116]:
normal_restaurants_5year_opening

,번호,개방서비스명,개방서비스id,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47,region
10,11,일반음식점,07_24_04_P,3610000,3610000-101-2016-00132,20160705,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,128.70,NaN,NaN,NaN,NaN,광주광역시
13,14,일반음식점,07_24_04_P,3610000,3610000-101-2017-00128,20170711,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,250.00,NaN,NaN,NaN,NaN,광주광역시
28,29,일반음식점,07_24_04_P,3610000,3610000-101-2017-00156,20170828,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,69.63,NaN,NaN,NaN,NaN,광주광역시
35,36,일반음식점,07_24_04_P,3610000,3610000-101-2017-00126,20170710,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,98.00,NaN,NaN,NaN,NaN,광주광역시
47,48,일반음식점,07_24_04_P,3610000,3610000-101-2016-00127,20160623,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,319.85,NaN,NaN,NaN,NaN,광주광역시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678068,678069,일반음식점,07_24_04_P,3070000,3070000-101-2021-00024,20210122,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,25.00,NaN,NaN,NaN,NaN,서울특별시
678069,678070,일반음식점,07_24_04_P,3070000,3070000-101-2021-00025,20210122,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,53.80,NaN,NaN,NaN,NaN,서울특별시
678070,678071,일반음식점,07_24_04_P,3390000,3390000-101-2021-00012,20210122,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,222.28,NaN,NaN,NaN,NaN,부산광역시
678072,678073,일반음식점,07_24_04_P,4030000,4030000-101-2021-00008,20210122,NaN,1,영업/정상,1,...,NaN,NaN,NaN,N,60.00,NaN,NaN,NaN,NaN,경기도
678073,678074,일반음식점,07_24_04_P,3700000,3700000-101-2021-00022,20210122,NaN,1,영업/정상,1,...,NaN,NaN,NaN,Y,0.00,NaN,NaN,NaN,NaN,울산광역시

In [117]:
normal_restaurants_5year_opening['인허가일자'] = pd.to_datetime(normal_restaurants_5year_opening['인허가일자'], format='%Y%m%d')

<ipython-input-117-ed020ed7928b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal_restaurants_5year_opening['인허가일자'] = pd.to_datetime(normal_restaurants_5year_opening['인허가일자'], format='%Y%m%d')

In [118]:
normal_restaurants_5year_opening['인허가일자']

10       2016-07-05
13       2017-07-11
28       2017-08-28
35       2017-07-10
47       2016-06-23
            ...
678068   2021-01-22
678069   2021-01-22
678070   2021-01-22
678072   2021-01-22
678073   2021-01-22
Name: 인허가일자, Length: 263839, dtype: datetime64[ns]

In [119]:
normal_restaurants_5year_opening['year'] = normal_restaurants_5year_opening['인허가일자'].dt.year

<ipython-input-119-8ed36d5695d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal_restaurants_5year_opening['year'] = normal_restaurants_5year_opening['인허가일자'].dt.year

In [120]:
normal_restaurants_5year_opening['year']

10        2016
13        2017
28        2017
35        2017
47        2016
          ...
678068    2021
678069    2021
678070    2021
678072    2021
678073    2021
Name: year, Length: 263839, dtype: int64

In [121]:
normal_restaurants_5year_opening['region']

10        광주광역시
13        광주광역시
28        광주광역시
35        광주광역시
47        광주광역시
          ...
678068    서울특별시
678069    서울특별시
678070    부산광역시
678072      경기도
678073    울산광역시
Name: region, Length: 263839, dtype: object

In [122]:
normal_restaurants_5year_opening['region'].unique()

array(['광주광역시', '대구광역시', '대전광역시', '부산광역시', '경상북도', '전라북도', '경상남도', '강원도',
       '울산광역시', '0', '경기도', '충청남도', '충청북도', '서울특별시', '인천광역시', '전라남도',
       '세종특별자치시', '제주특별자치도', '21B', '우현1지구토지구획정리사업지구', '-1번지', '1.2층',
       '-104번지'], dtype=object)

In [123]:
normal_restaurants_5year_opening = normal_restaurants_5year_opening[(normal_restaurants_5year_opening['region'].str.endswith('시')) | (normal_restaurants_5year_opening['region'].str.endswith('도'))]

In [125]:
normal_restaurants_5year_opening['region'].unique()

array(['광주광역시', '대구광역시', '대전광역시', '부산광역시', '경상북도', '전라북도', '경상남도', '강원도',
       '울산광역시', '경기도', '충청남도', '충청북도', '서울특별시', '인천광역시', '전라남도',
       '세종특별자치시', '제주특별자치도'], dtype=object)

In [137]:
normal_restaurants_opening_region = normal_restaurants_5year_opening.groupby(['region', 'year'])

In [138]:
normal_restaurants_opening_region.count()

               번호  개방서비스명  개방서비스id  개방자치단체코드  관리번호  인허가일자  인허가취소일자  영업상태구분코드  \
region year
강원도    2016  1507    1507     1507      1507  1507   1507        0      1507
       2017  1683    1683     1683      1683  1683   1683        0      1683
       2018  1884    1884     1884      1884  1884   1884        0      1884
       2019  2101    2101     2101      2101  2101   2101        0      2101
       2020  2192    2192     2192      2192  2192   2192        0      2192
...           ...     ...      ...       ...   ...    ...      ...       ...
충청북도   2017  1385    1385     1385      1385  1385   1385        0      1385
       2018  1560    1560     1560      1560  1560   1560        0      1560
       2019  1941    1941     1941      1941  1941   1941        0      1941
       2020  2153    2153     2153      2153  2153   2153        0      2153
       2021  1124    1124     1124      1124  1124   1124        0      1124

             영업상태명  상세영업상태코드  ...  공장생산직종업원수  건물소유구분명  보증액  월세액  다중이용업소여부  \
region year                   ...
강원도    2016   1507      1507  ...          0        0    0    0      1507
       2017   1683      1683  ...          0        0    0    0      1683
       2018   1884      1884  ...          0        0    0    0      1883
       2019   2101      2101  ...          0        0    0    0      2101
       2020   2192      2192  ...          0        0    0    0      2192
...            ...       ...  ...        ...      ...  ...  ...       ...
충청북도   2017   1385      1385  ...          0        0    0    0      1364
       2018   1560      1560  ...          0        0    0    0      1545
       2019   1941      1941  ...          0        0    0    0      1941
       2020   2153      2153  ...          0        0    0    0      2152
       2021   1124      1124  ...          0        0    0    0      1124

             시설총규모  전통업소지정번호  전통업소주된음식  홈페이지  Unnamed: 47
region year
강원도    2016   1507         0         0     0            0
       2017   1683         0         0     0            0
       2018   1883         0         0     0            0
       2019   2101         0         0     0            0
       2020   2192         0         0     0            0
...            ...       ...       ...   ...          ...
충청북도   2017   1364         0         0     0            0
       2018   1545         0         0     0            0
       2019   1941         0         0     0            0
       2020   2152         0         0     0            0
       2021   1124         0         0     0            0

[102 rows x 48 columns]

In [139]:
normal_restaurants_opening_region["상세영업상태명"].count()

region  year
강원도     2016    1507
        2017    1683
        2018    1884
        2019    2101
        2020    2192
                ...
충청북도    2017    1385
        2018    1560
        2019    1941
        2020    2153
        2021    1124
Name: 상세영업상태명, Length: 102, dtype: int64

In [146]:
normal_restaurants_opening_region_group = normal_restaurants_opening_region["상세영업상태명"].count()

### COVID19 기간(19.10. ~ 21.07. ) 동안 지역별 개업 수

In [147]:
normal_restaurants_opening_region_group

region  year
강원도     2016    1507
        2017    1683
        2018    1884
        2019    2101
        2020    2192
                ...
충청북도    2017    1385
        2018    1560
        2019    1941
        2020    2153
        2021    1124
Name: 상세영업상태명, Length: 102, dtype: int64

In [152]:
normal_restaurants_opening_region_group = normal_restaurants_opening_region_group.reset_index()
normal_restaurants_opening_region_group

     index region  year  상세영업상태명
0        0    강원도  2016     1507
1        1    강원도  2017     1683
2        2    강원도  2018     1884
3        3    강원도  2019     2101
4        4    강원도  2020     2192
..     ...    ...   ...      ...
97      97   충청북도  2017     1385
98      98   충청북도  2018     1560
99      99   충청북도  2019     1941
100    100   충청북도  2020     2153
101    101   충청북도  2021     1124

[102 rows x 4 columns]

In [156]:
categories = normal_restaurants_opening_region_group['region'].unique().tolist()
categories

['강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도']

In [165]:
year_list = normal_restaurants_opening_region_group['year'].unique().tolist()
year_list

[2016, 2017, 2018, 2019, 2020, 2021]

In [169]:
for year in year_list:
    print(normal_restaurants_opening_region_group[normal_restaurants_opening_region_group['year'] == year]['상세영업상태명'].tolist())
    print('-----------------------')

[1507, 7291, 2657, 2040, 988, 1731, 971, 2109, 6122, 206, 802, 1487, 1404, 1309, 949, 1619, 1292]
-----------------------
[1683, 7994, 2770, 2253, 1079, 1754, 1073, 2306, 7218, 287, 855, 1753, 1608, 1340, 1135, 1740, 1385]
-----------------------
[1884, 9897, 3088, 2512, 1208, 1991, 1152, 2621, 8150, 422, 1053, 2077, 1668, 1456, 1152, 2069, 1560]
-----------------------
[2101, 12703, 3406, 2810, 1442, 2344, 1525, 3112, 9913, 517, 1252, 2674, 1892, 1715, 1372, 2384, 1941]
-----------------------
[2192, 15090, 3828, 2928, 1625, 2519, 1684, 3412, 11850, 532, 1407, 3166, 2067, 1707, 1317, 2554, 2153]
-----------------------
[1163, 8586, 2131, 1639, 820, 1478, 981, 2062, 6997, 307, 714, 1718, 1155, 971, 758, 1418, 1124]
-----------------------